<div class="container">
  <div class="card-container">
    <div class="card left-card">
      <p>Search artist</p>
      <input
        [(ngModel)]="artistInput"
        (input)="onInputChange()"
        placeholder="Artist name"
      />
      <ul *ngIf="artists.length > 0" class="artists-suggestions">
        <li *ngFor="let artist of artists" (click)="selectArtist(artist)">
          {{ artist.name }}
        </li>
      </ul>
    </div>
    
    <div class="card right-card">
      <p>Selected Artists</p>
      <ul class="selected-artists">
        <li *ngFor="let artist of selectedArtists">
          {{ artist.name }}
          <span class="remove-artist" (click)="removeArtist(artist)">x</span>
        </li>
      </ul>
    </div>
  </div>
  <button (click)="openModal()">Create playlist</button>
  <div *ngIf="showModal">
    <div>
      <label for="playlist-name">Playlist name:</label>
      <input type="text" id="playlist-name" [(ngModel)]="playlistName">
    </div>
    <div>
      <button (click)="sendPlaylist()">Send</button>
    </div>
  </div>
</div>
